# Pandas-Datareader
- https://pandas-datareader.readthedocs.io/en/latest/index.html
- https://zephyrus1111.tistory.com/206

In [8]:
import pandas_datareader.data as web
import yfinance as yf

yf.pdr_override()

data = web.get_data_yahoo('005930.KS', start='2021-06-01', end='2022-02-09')

[*********************100%***********************]  1 of 1 completed

In [9]:
data

               Open     High      Low    Close     Adj Close    Volume
Date
2021-06-01  80500.0  81300.0  80100.0  80600.0  77148.054688  14058401
2021-06-02  80400.0  81400.0  80300.0  80800.0  77339.500000  16414644
2021-06-03  81300.0  83000.0  81100.0  82800.0  79253.835938  29546007
2021-06-04  82700.0  82700.0  81500.0  82200.0  78679.539062  18112259
2021-06-07  82700.0  82800.0  81600.0  81900.0  78392.390625  16496197
...             ...      ...      ...      ...           ...       ...
2022-01-28  71300.0  73700.0  71200.0  73300.0  71126.093750  21367447
2022-02-03  74900.0  74900.0  73300.0  73300.0  71126.093750  17744721
2022-02-04  74300.0  74600.0  73400.0  74000.0  71805.328125  12730034
2022-02-07  73500.0  73600.0  72400.0  73000.0  70834.992188  14240838
2022-02-08  73000.0  73000.0  73000.0  73000.0  70834.992188         0

[170 rows x 6 columns]

In [16]:
import pandas_datareader.data as web
from pandas import to_numeric
from datetime import datetime 

start_date = datetime(2021,1,1) 
end_date = datetime(2021,12,31)

data = web.DataReader('005930.KS', 'naver', start_date, end_date)
data = data.apply(to_numeric)
data.head()

[*********************100%***********************]  1 of 1 completed

ERROR
1 Failed download:
ERROR ['005930.KS']: ValueError("time data 'naver' does not match format '%Y-%m-%d'")

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []