# [다변량 선형 확률과정](https://today-1.tistory.com/38)

# Data

In [1]:
import numpy as np 
import pandas as pd

import matplotlib.pyplot as plt 
import seaborn as sns 

import FinanceDataReader as fdr 
fdr.__version__

'0.9.50'

In [4]:
save_path = '../../../data/meta/stock_corps.csv'
df_dtype = {
    'stock_code': 'object'
}

df_corps = pd.read_csv(save_path, dtype=df_dtype)

print(f'{df_corps.shape} / {df_corps.isnull().sum().sum()}')
df_corps.head()

(2494, 13) / 20

,corp_code,corp_name,stock_code,corp_cls,corp_cls_nm,sector,product,industry_wics_ss_nm,industry_wics_ss_cd,industry_wics_ms_cd,industry_wics_ms_nm,industry_wics_ls_cd,industry_wics_ls_nm
0,956028,엑세스바이오,950130,K,kosdaq,의료용품 및 기타 의약 관련제품 제조업,"말라리아 진단키트(RDT), HIV 진단키트(RDT)",생명과학도구및서비스,352030,3520,제약과생물공학,35,건강관리
1,783246,글로벌에스엠,900070,K,kosdaq,기타 금융업,"자회사 제품 : IT기기용 정밀 화스너부품(스크류, 샤프트, 스프링)",자동차부품,251010,2510,자동차와부품,25,경기관련소비재
2,1170962,GRT,900290,K,kosdaq,기타 금융업,"광학필름, 포장필름",화학,151010,1510,소재,15,소재
3,600013,맵스리얼티1,094800,Y,kospi,신탁업 및 집합투자업,NaN,미분류,0,0,NaN,0,NaN
4,1139266,로스웰,900260,K,kosdaq,기타 금융업,"CAN Control Gateway, CAN기능모듈, BCM 차체제어모듈",자동차부품,251010,2510,자동차와부품,25,경기관련소비재

In [10]:
c1 = df_corps['corp_name'] == 'NAVER'
c2 = df_corps['corp_name'] == '카카오'
c = c1 | c2

df_corps.loc[c]

,corp_code,corp_name,stock_code,corp_cls,corp_cls_nm,sector,product,industry_wics_ss_nm,industry_wics_ss_cd,industry_wics_ms_cd,industry_wics_ms_nm,industry_wics_ls_cd,industry_wics_ls_nm
902,258801,카카오,035720,Y,kospi,"자료처리, 호스팅, 포털 및 기타 인터넷 정보매개 서비스업",인터넷 서비스(인터넷 광고),양방향미디어와서비스,502050,5020,미디어와엔터테인먼트,50,커뮤니케이션서비스
1571,266961,NAVER,035420,Y,kospi,"자료처리, 호스팅, 포털 및 기타 인터넷 정보매개 서비스업",포털 서비스 및 온라인 광고,양방향미디어와서비스,502050,5020,미디어와엔터테인먼트,50,커뮤니케이션서비스

In [13]:
df_corps.loc[c][['stock_code', 'corp_name']].values

array([['035720', '카카오'],
       ['035420', 'NAVER']], dtype=object)

In [18]:
_df = fdr.DataReader('035720', '2020', '2021')[['Close']]
_df.rename(columns={'Close':'카카오'})

              카카오
Date
2020-01-02  30609
2020-01-03  30609
2020-01-06  31010
2020-01-07  32114
2020-01-08  32014
...           ...
2020-12-23  75770
2020-12-24  75068
2020-12-28  74867
2020-12-29  77175
2020-12-30  78179

[248 rows x 1 columns]

In [11]:
for corp in df_corps.loc[c]['stock_code', 'corp_name'].values:

array(['035720', '035420'], dtype=object)

In [8]:
stock_code = '035420'
df1 = fdr.DataReader(stock_code, '2020', '2021')
df1['stock_code'] = stock_code
df1.reset_index(inplace=True)

print(df1.shape)
df1.head()

(248, 8)

        Date    Open    High     Low   Close  Volume    Change stock_code
0 2020-01-02  187500  188000  182000  182500  300640 -0.021448     035420
1 2020-01-03  185000  186000  180500  181500  454492 -0.005479     035420
2 2020-01-06  180000  182000  178000  180500  287970 -0.005510     035420
3 2020-01-07  182500  187000  181500  187000  328624  0.036011     035420
4 2020-01-08  182000  183500  179000  183000  820867 -0.021390     035420

In [7]:
df_corps[df_corps['corp_name'] == '카카오']

,corp_code,corp_name,stock_code,corp_cls,corp_cls_nm,sector,product,industry_wics_ss_nm,industry_wics_ss_cd,industry_wics_ms_cd,industry_wics_ms_nm,industry_wics_ls_cd,industry_wics_ls_nm
902,258801,카카오,035720,Y,kospi,"자료처리, 호스팅, 포털 및 기타 인터넷 정보매개 서비스업",인터넷 서비스(인터넷 광고),양방향미디어와서비스,502050,5020,미디어와엔터테인먼트,50,커뮤니케이션서비스

In [9]:
stock_code = '035720'
df2 = fdr.DataReader(stock_code, '2020', '2021')
df2['stock_code'] = stock_code
df2.reset_index(inplace=True)

print(df2.shape)
df2.head()

(248, 8)

        Date   Open   High    Low  Close  Volume    Change stock_code
0 2020-01-02  30909  31010  30508  30609  241047 -0.006524     035720
1 2020-01-03  30810  31111  30308  30609  314848  0.000000     035720
2 2020-01-06  30206  31109  30106  31010  393715  0.013101     035720
3 2020-01-07  31110  32113  31009  32114  840186  0.035601     035720
4 2020-01-08  31813  32516  31412  32014  851619 -0.003114     035720