# [참고문서](https://appia.tistory.com/428)

# 일자별 시가총액

- 예시

In [1]:
from pykrx import stock

df1 = stock.get_market_cap_by_date("20000101", "20201030", "000020", "y")
df1

                    시가총액        거래량           거래대금     상장주식수
날짜
2000-12-31   34493892480   59001040   758103262000   5423568
2001-12-31   51338041860   57464100   538344129100   5586294
2002-12-31   36366773940   18586221   167972254530   5586294
2003-12-31   37707484500    9604990    69110673200   5586294
2004-12-31   47092458420    6104981    46488174470   5586294
2005-12-31  104743012500   28012768   477363346700   5586294
2006-12-31  180437296200   13371594   328730166550   5586294
2007-12-31  299425358400    9259965   571073024250   5586294
2008-12-31  172616484600    6749141   262185509850   5586294
2009-12-31  211720542600   34570154   476907101210  27931470
2010-12-31  147757476300   24897148   141536752210  27931470
2011-12-31  113960397600   35915126   179514906590  27931470
2012-12-31  168706078800   32035524   175849366405  27931470
2013-12-31  122619153300   20256240   124317448830  27931470
2014-12-31  155578287900   20925838   114816661840  27931470
2015-12-31  227362165800   54304424   468312986660  27931470
2016-12-31  226803536400   72074781   678265099570  27931470
2017-12-31  272331832500   33875649   314630226480  27931470
2018-12-31  254176377000   46713393   524531928930  27931470
2019-12-31  232110515700   22652024   197965184300  27931470
2020-12-31  499973313000  302989118  5622175360035  27931470

# 종목별 시가총액

- 예시

In [2]:
from pykrx import stock

df2 = stock.get_market_cap_by_ticker("20201030")
df2

            종가             시가총액       거래량           거래대금       상장주식수
티커
005930   56600  337889692330000  26907844  1541223383000  5969782550
000660   79900   58167388963500   2710477   219064698950   728002365
035420  290000   47636384550000    939833   275981100000   164263395
207940  682000   45124530000000    251134   174660762000    66165000
051910  611000   43131921573000    820454   512035157000    70592343
...        ...              ...       ...            ...         ...
224020     910       2457000000         0              0     2700000
267810    1450       2243150000      2003        2554350     1547000
238500     443       2074199538      4208        1777904     4682166
344860    1115       2073900000         0              0     1860000
225860     159       1805936628     10753        1819284    11358092

[2507 rows x 5 columns]

In [6]:
from datetime import datetime
from dateutil.relativedelta import relativedelta

In [9]:
today = datetime.now()
today

datetime.datetime(2023, 8, 14, 17, 18, 23, 728937)

In [11]:
next_month = datetime(today.year, today.month, 1) + relativedelta(months=1)
next_month

datetime.datetime(2023, 9, 1, 0, 0)

In [14]:
this_month_last = next_month + relativedelta(days=-1)
this_month_last.strftime("%Y%m%d")

'20230831'

In [22]:
df = stock.get_market_cap_by_ticker("20220832")
df

        종가  시가총액  거래량  거래대금     상장주식수
티커
060310   0     0    0     0  46271513
000220   0     0    0     0  17232351
000227   0     0    0     0    325560
388720   0     0    0     0   8580846
340930   0     0    0     0  10674744
...     ..   ...  ...   ...       ...
003000   0     0    0     0  71063049
001270   0     0    0     0  10369886
001275   0     0    0     0   3000000
026940   0     0    0     0  20000000
238490   0     0    0     0  11312236

[2422 rows x 5 columns]

In [25]:
df['종가'].values[0]

0

In [27]:
df.reset_index()

          티커  종가  시가총액  거래량  거래대금     상장주식수
0     060310   0     0    0     0  46271513
1     000220   0     0    0     0  17232351
2     000227   0     0    0     0    325560
3     388720   0     0    0     0   8580846
4     340930   0     0    0     0  10674744
...      ...  ..   ...  ...   ...       ...
2417  003000   0     0    0     0  71063049
2418  001270   0     0    0     0  10369886
2419  001275   0     0    0     0   3000000
2420  026940   0     0    0     0  20000000
2421  238490   0     0    0     0  11312236

[2422 rows x 6 columns]

## ETL

In [35]:
from tqdm import tqdm
import easydict
args = easydict.EasyDict()


args.market_cap_path = '../data/market_cap/{year}_{month}.csv'

In [37]:
years = ["200"+str(month) if len(str(month))== 1 else "20"+str(month) for month in range(0,24)]
months = ['0'+str(month) if len(str(month))== 1 else str(month) for month in range(1,13) ]
last_days = ['31', '30', '29', '28', '27', '26', '25']

In [40]:
for year in tqdm(years):
    for month in months:
        for last_day in last_days:
            target_dt = year+month+last_day
            _df = stock.get_market_cap_by_ticker(target_dt)
            if _df['종가'].values[0] == 0:
                continue
            
            print(f'target_dt: {year}-{month}')
            _df = _df.reset_index()
            _df['target_dt'] = target_dt
            _df.rename(columns={
                '티커':'stock_code'
            }, inplace=True)
            save_path = args.market_cap_path.format(year=year, month=month)
            _df.to_csv(save_path, header=True, index=False, encoding='utf-8')
            break # 달마다 한번만...

  0%|          | 0/24 [00:00<?, ?it/s]

target_dt: 2000-01
target_dt: 2000-02
target_dt: 2000-03
target_dt: 2000-04
target_dt: 2000-05
target_dt: 2000-06
target_dt: 2000-07
target_dt: 2000-08
target_dt: 2000-09
target_dt: 2000-10
target_dt: 2000-11

  4%|▍         | 1/24 [00:30<11:40, 30.44s/it]

target_dt: 2000-12
target_dt: 2001-01
target_dt: 2001-02
target_dt: 2001-03
target_dt: 2001-04
target_dt: 2001-05
target_dt: 2001-06
target_dt: 2001-07
target_dt: 2001-08
target_dt: 2001-09
target_dt: 2001-10
target_dt: 2001-11

  8%|▊         | 2/24 [00:59<10:45, 29.35s/it]

target_dt: 2001-12
target_dt: 2002-01
target_dt: 2002-02
target_dt: 2002-03
target_dt: 2002-04
target_dt: 2002-05
target_dt: 2002-06
target_dt: 2002-07
target_dt: 2002-08
target_dt: 2002-09
target_dt: 2002-10
target_dt: 2002-11

 12%|█▎        | 3/24 [01:29<10:24, 29.74s/it]

target_dt: 2002-12
target_dt: 2003-01
target_dt: 2003-02
target_dt: 2003-03
target_dt: 2003-04
target_dt: 2003-05
target_dt: 2003-06
target_dt: 2003-07
target_dt: 2003-08
target_dt: 2003-09
target_dt: 2003-10
target_dt: 2003-11

 17%|█▋        | 4/24 [01:59<09:56, 29.80s/it]

target_dt: 2003-12
target_dt: 2004-01
target_dt: 2004-02
target_dt: 2004-03
target_dt: 2004-04
target_dt: 2004-05
target_dt: 2004-06
target_dt: 2004-07
target_dt: 2004-08
target_dt: 2004-09
target_dt: 2004-10
target_dt: 2004-11

 21%|██        | 5/24 [02:29<09:31, 30.06s/it]

target_dt: 2004-12
target_dt: 2005-01
target_dt: 2005-02
target_dt: 2005-03
target_dt: 2005-04
target_dt: 2005-05
target_dt: 2005-06
target_dt: 2005-07
target_dt: 2005-08
target_dt: 2005-09
target_dt: 2005-10
target_dt: 2005-11

 25%|██▌       | 6/24 [03:01<09:09, 30.53s/it]

target_dt: 2005-12
target_dt: 2006-01
target_dt: 2006-02
target_dt: 2006-03
target_dt: 2006-04
target_dt: 2006-05
target_dt: 2006-06
target_dt: 2006-07
target_dt: 2006-08
target_dt: 2006-09
target_dt: 2006-10
target_dt: 2006-11

 29%|██▉       | 7/24 [03:30<08:35, 30.32s/it]

target_dt: 2006-12
target_dt: 2007-01
target_dt: 2007-02
target_dt: 2007-03
target_dt: 2007-04
target_dt: 2007-05
target_dt: 2007-06
target_dt: 2007-07
target_dt: 2007-08
target_dt: 2007-09
target_dt: 2007-10
target_dt: 2007-11

 33%|███▎      | 8/24 [06:30<20:43, 77.70s/it]

target_dt: 2007-12
target_dt: 2008-01
target_dt: 2008-02
target_dt: 2008-03
target_dt: 2008-04
target_dt: 2008-05
target_dt: 2008-06
target_dt: 2008-07
target_dt: 2008-08
target_dt: 2008-09
target_dt: 2008-10
target_dt: 2008-11

 38%|███▊      | 9/24 [06:56<15:26, 61.79s/it]

target_dt: 2008-12
target_dt: 2009-01
target_dt: 2009-02
target_dt: 2009-03
target_dt: 2009-04
target_dt: 2009-05
target_dt: 2009-06
target_dt: 2009-07
target_dt: 2009-08
target_dt: 2009-09
target_dt: 2009-10
target_dt: 2009-11

 42%|████▏     | 10/24 [07:22<11:48, 50.58s/it]

target_dt: 2009-12
target_dt: 2010-01
target_dt: 2010-02
target_dt: 2010-03
target_dt: 2010-04
target_dt: 2010-05
target_dt: 2010-06
target_dt: 2010-07
target_dt: 2010-08
target_dt: 2010-09
target_dt: 2010-10
target_dt: 2010-11

 46%|████▌     | 11/24 [07:54<09:44, 44.98s/it]

target_dt: 2010-12
target_dt: 2011-01
target_dt: 2011-02
target_dt: 2011-03
target_dt: 2011-04
target_dt: 2011-05
target_dt: 2011-06
target_dt: 2011-07
target_dt: 2011-08
target_dt: 2011-09
target_dt: 2011-10
target_dt: 2011-11

 50%|█████     | 12/24 [08:22<07:55, 39.64s/it]

target_dt: 2011-12
target_dt: 2012-01
target_dt: 2012-02
target_dt: 2012-03
target_dt: 2012-04
target_dt: 2012-05
target_dt: 2012-06
target_dt: 2012-07
target_dt: 2012-08
target_dt: 2012-09
target_dt: 2012-10
target_dt: 2012-11

 54%|█████▍    | 13/24 [08:53<06:50, 37.28s/it]

target_dt: 2012-12
target_dt: 2013-01
target_dt: 2013-02
target_dt: 2013-03
target_dt: 2013-04
target_dt: 2013-05
target_dt: 2013-06
target_dt: 2013-07
target_dt: 2013-08
target_dt: 2013-09
target_dt: 2013-10
target_dt: 2013-11

 58%|█████▊    | 14/24 [09:21<05:44, 34.44s/it]

target_dt: 2013-12
target_dt: 2014-01
target_dt: 2014-02
target_dt: 2014-03
target_dt: 2014-04
target_dt: 2014-05
target_dt: 2014-06
target_dt: 2014-07
target_dt: 2014-08
target_dt: 2014-09
target_dt: 2014-10
target_dt: 2014-11

 62%|██████▎   | 15/24 [09:50<04:53, 32.57s/it]

target_dt: 2014-12
target_dt: 2015-01
target_dt: 2015-02
target_dt: 2015-03
target_dt: 2015-04
target_dt: 2015-05
target_dt: 2015-06
target_dt: 2015-07
target_dt: 2015-08
target_dt: 2015-09
target_dt: 2015-10
target_dt: 2015-11

 67%|██████▋   | 16/24 [10:16<04:06, 30.81s/it]

target_dt: 2015-12
target_dt: 2016-01
target_dt: 2016-02
target_dt: 2016-03
target_dt: 2016-04
target_dt: 2016-05
target_dt: 2016-06
target_dt: 2016-07
target_dt: 2016-08
target_dt: 2016-09
target_dt: 2016-10
target_dt: 2016-11

 71%|███████   | 17/24 [10:43<03:26, 29.53s/it]

target_dt: 2016-12
target_dt: 2017-01
target_dt: 2017-02
target_dt: 2017-03
target_dt: 2017-04
target_dt: 2017-05
target_dt: 2017-06
target_dt: 2017-07
target_dt: 2017-08
target_dt: 2017-09
target_dt: 2017-10
target_dt: 2017-11

 75%|███████▌  | 18/24 [11:09<02:51, 28.54s/it]

target_dt: 2017-12
target_dt: 2018-01
target_dt: 2018-02
target_dt: 2018-03
target_dt: 2018-04
target_dt: 2018-05
target_dt: 2018-06
target_dt: 2018-07
target_dt: 2018-08
target_dt: 2018-09
target_dt: 2018-10
target_dt: 2018-11

 79%|███████▉  | 19/24 [11:37<02:22, 28.41s/it]

target_dt: 2018-12
target_dt: 2019-01
target_dt: 2019-02
target_dt: 2019-03
target_dt: 2019-04
target_dt: 2019-05
target_dt: 2019-06
target_dt: 2019-07
target_dt: 2019-08
target_dt: 2019-09
target_dt: 2019-10
target_dt: 2019-11

 83%|████████▎ | 20/24 [12:05<01:52, 28.09s/it]

target_dt: 2019-12
target_dt: 2020-01
target_dt: 2020-02
target_dt: 2020-03
target_dt: 2020-04
target_dt: 2020-05
target_dt: 2020-06
target_dt: 2020-07
target_dt: 2020-08
target_dt: 2020-09
target_dt: 2020-10
target_dt: 2020-11

 88%|████████▊ | 21/24 [12:32<01:23, 27.96s/it]

target_dt: 2020-12
target_dt: 2021-01
target_dt: 2021-02
target_dt: 2021-03
target_dt: 2021-04
target_dt: 2021-05
target_dt: 2021-06
target_dt: 2021-07
target_dt: 2021-08
target_dt: 2021-09
target_dt: 2021-10
target_dt: 2021-11

 92%|█████████▏| 22/24 [13:03<00:57, 28.87s/it]

target_dt: 2021-12
target_dt: 2022-01
target_dt: 2022-02
target_dt: 2022-03
target_dt: 2022-04
target_dt: 2022-05
target_dt: 2022-06
target_dt: 2022-07
target_dt: 2022-08
target_dt: 2022-09
target_dt: 2022-10
target_dt: 2022-11

 96%|█████████▌| 23/24 [13:32<00:28, 28.94s/it]

target_dt: 2022-12
target_dt: 2023-01
target_dt: 2023-02
target_dt: 2023-03
target_dt: 2023-04
target_dt: 2023-05
target_dt: 2023-06
target_dt: 2023-07

100%|██████████| 24/24 [14:27<00:00, 36.15s/it]