In [1]:
import numpy as np 
import pandas as pd

import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
import FinanceDataReader as fdr 
fdr.__version__

'0.9.50'

# 회사 코드 조회

In [3]:
save_path = '../data/meta/stock_corps.csv'
df_dtype = {
    'stock_code': 'object'
}

df_corps = pd.read_csv(save_path, dtype=df_dtype)

print(f'{df_corps.shape} / {df_corps.isnull().sum().sum()}')
df_corps.head()

(2481, 11) / 560

,stock_code,corp_name,corp_cls_nm,industry_krx_nm,industry_krx_desc,industry_wics_ls_nm,industry_wics_ls_cd,industry_wics_ms_nm,industry_wics_ms_cd,industry_wics_ss_nm,industry_wics_ss_cd
0,950130,엑세스바이오,kosdaq,의료용품 및 기타 의약 관련제품 제조업,"말라리아 진단키트(RDT), HIV 진단키트(RDT)",NaN,NaN,NaN,NaN,NaN,NaN
1,900070,글로벌에스엠,kosdaq,기타 금융업,"자회사 제품 : IT기기용 정밀 화스너부품(스크류, 샤프트, 스프링)",NaN,NaN,NaN,NaN,NaN,NaN
2,900290,GRT,kosdaq,기타 금융업,"광학필름, 포장필름",NaN,NaN,NaN,NaN,NaN,NaN
3,094800,맵스리얼티1,kospi,신탁업 및 집합투자업,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,900260,로스웰,kosdaq,기타 금융업,"CAN Control Gateway, CAN기능모듈, BCM 차체제어모듈",NaN,NaN,NaN,NaN,NaN,NaN

# 주식 조회

In [ ]:
import FinanceDataReader as fdr

## (연습용)

In [32]:
df_corps[df_corps['corp_name'] == '삼성전자']

,stock_code,corp_name,corp_cls_nm,industry_krx_nm,industry_krx_desc,industry_wics_ls_nm,industry_wics_ls_cd,industry_wics_ms_nm,industry_wics_ms_cd,industry_wics_ss_nm,industry_wics_ss_cd
1761,005930,삼성전자,kospi,통신 및 방송 장비 제조업,"통신 및 방송 장비 제조(무선) 제품, 반도체 제조(메모리) 제품, 전자부품 제조...",IT,45.0,반도체와반도체장비,4530.0,반도체와반도체장비,453010.0

In [33]:
stock_code = df_corps[df_corps['corp_name'] == '삼성전자']['stock_code'].values[0]
stock_code

'005930'

In [34]:
df1 = fdr.DataReader(stock_code, '2000')
df1['stock_code'] = stock_code
df1.reset_index(inplace=True)

print(df1.shape)
df1.head()

(5803, 8)

        Date  Open  High   Low  Close   Volume    Change stock_code
0 2000-01-04  6000  6110  5660   6110  1483967  0.148496     005930
1 2000-01-05  5800  6060  5520   5580  1493604 -0.086743     005930
2 2000-01-06  5750  5780  5580   5620  1087810  0.007168     005930
3 2000-01-07  5560  5670  5360   5540   806195 -0.014235     005930
4 2000-01-10  5600  5770  5580   5770   937615  0.041516     005930

In [35]:
stock_code = df_corps[df_corps['corp_name'] == 'NAVER']['stock_code'].values[0]
stock_code

'035420'

In [36]:
df2 = fdr.DataReader(stock_code, '2000')
df2['stock_code'] = stock_code
df2.reset_index(inplace=True)

print(df2.shape)
df2.head()

(5115, 8)

        Date  Open  High   Low  Close   Volume    Change stock_code
0 2002-10-29  2312  2312  2312   2312    20549       NaN     035420
1 2002-10-30  2587  2587  2558   2588   853638  0.119377     035420
2 2002-10-31  2626  2689  2398   2459  1320880 -0.049845     035420
3 2002-11-01  2520  2599  2215   2305   750761 -0.062627     035420
4 2002-11-04  2285  2300  2135   2191   692165 -0.049458     035420

In [37]:
df = pd.concat([df1,df2], ignore_index=True)

print(df.shape)
df.head()

(10918, 8)

        Date  Open  High   Low  Close   Volume    Change stock_code
0 2000-01-04  6000  6110  5660   6110  1483967  0.148496     005930
1 2000-01-05  5800  6060  5520   5580  1493604 -0.086743     005930
2 2000-01-06  5750  5780  5580   5620  1087810  0.007168     005930
3 2000-01-07  5560  5670  5360   5540   806195 -0.014235     005930
4 2000-01-10  5600  5770  5580   5770   937615  0.041516     005930

In [38]:
df['stock_code'].value_counts()

stock_code
005930    5803
035420    5115
Name: count, dtype: int64

## 주식 데이터 수집

In [42]:
df = pd.DataFrame()

for stock_code in df_corps['stock_code'].values:
    stock_code = str(stock_code)
    _df = fdr.DataReader(stock_code, '2000')
    _df['stock_code'] = stock_code
    _df.reset_index(inplace=True) 

    df = pd.concat([df,_df], ignore_index=True)

In [44]:
print(f'{df.shape} / {df.isnull().sum()}')

df.head()

(8637331, 8) / Date             0
Open             0
High             0
Low              0
Close            0
Volume           0
Change        1828
stock_code       0
dtype: int64

        Date   Open   High    Low  Close   Volume    Change stock_code
0 2013-05-30   9000  10350   9000  10350   481546       NaN     950130
1 2013-05-31  11900  11900  11750  11900  3147904  0.149758     950130
2 2013-06-03  12200  12350  11450  12150  5255396  0.021008     950130
3 2013-06-04  12150  12250  10600  11300  2711946 -0.069959     950130
4 2013-06-05  11300  11400  10200  10200  1512415 -0.097345     950130

In [45]:
print(f'{len(df_corps["stock_code"].values)}') 
print(f'{df["stock_code"].nunique()}')

2481
2481

In [46]:
save_path = '../data/stocks_from_2000.csv'

df.to_csv(save_path, header=True, index=False, encoding='utf-8')

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8637331 entries, 0 to 8637330
Data columns (total 8 columns):
 #   Column      Dtype
---  ------      -----
 0   Date        datetime64[ns]
 1   Open        int64
 2   High        int64
 3   Low         int64
 4   Close       int64
 5   Volume      int64
 6   Change      float64
 7   stock_code  object
dtypes: datetime64[ns](1), float64(1), int64(5), object(1)
memory usage: 527.2+ MB